:root {
    /* 修改主色调 */
    --primary-color: #3498db;
    /* 修改次要色调 */
    --secondary-color: #2ecc71;
    /* 修改背景色 */
    --background-color: #f9f9f9;
    /* 修改文字颜色 */
    --text-color: #333;
    /* 添加砖红色 */
    --brick-red: #5e0606;
} 


.polyu-red {
    color: var(--brick-red);
    font-weight: bold;
} 